<a href="https://colab.research.google.com/github/JustCleo256/cohort2-repo/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from typing import List
# PART A - DATA STRUCTURES

# List of numbers

numbers = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

print(numbers)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [ ]:
# Adding a new number (13)

numbers.append("13")

print(numbers)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '13']

In [ ]:
# Removing a number (5)

numbers.remove("5")

print(numbers)

['1', '2', '3', '4', '6', '7', '8', '9', '10', '13']

In [ ]:
# Creating a Tuple of 5 city names.

Cities = ('London', 'Kampala', 'Nairobi', 'Munich', 'Paris')

print(Cities)

('London', 'Kampala', 'Nairobi', 'Munich', 'Paris')

In [ ]:
# Attempting to change one

Cities.remove('Nairobi')

print.Cities

# What happens is an attribute error as tuples have no attribute remove thus can not be changed.

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
# Creating a Set of student names.

Names = set(["Jamie", "Ella", "Theo", "Jahmiel", "Carl"])

print(Names)

{'Jahmiel', 'Ella', 'Jamie', 'Carl', 'Theo'}

In [ ]:
# Adding a duplicate


Names = set(["Jamie", "Ella", "Theo", "Jahmiel", "Carl", "Ella", "Theo"])

print(Names)

# it adds nothing since sets can not be altered.

{'Jahmiel', 'Ella', 'Jamie', 'Carl', 'Theo'}

In [ ]:
# Creating a dictionary

my_dict = {'name': 'Empress Ellah', 'age': '2', 'email': 'empellah@gmail.com'}

print(my_dict)

{'name': 'Empress Ellah', 'age': '2', 'email': 'empellah@gmail.com'}

In [ ]:
# Updating email

my_dict['email'] = 'empressellah@gmail.com'

print(my_dict)

{'name': 'Empress Ellah', 'age': '2', 'email': 'empressellah@gmail.com'}

In [ ]:
# Keys

my_dict.keys()

dict_keys(['name', 'age', 'email'])

In [ ]:
# Values

my_dict.values()

dict_values(['Empress Ellah', '2', 'empressellah@gmail.com'])

In [ ]:
# All items

my_dict.items()

dict_items([('name', 'Empress Ellah'), ('age', '2'), ('email', 'empressellah@gmail.com')])

In [ ]:
# PART B - CONTROLFLOW

# creating a loop

for num in range(1, 21):
  if num % 2 == 0:
    print(f'{num} is even')
  else:
    print(f'{num} is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

In [ ]:
# iterating over a dictionary from the above data

for key in number_dict:
  print(f"Key: {key}, Value: {number_dict[key]}")

Key: 1, Value: odd
Key: 2, Value: even
Key: 3, Value: odd
Key: 4, Value: even
Key: 5, Value: odd
Key: 6, Value: even
Key: 7, Value: odd
Key: 8, Value: even
Key: 9, Value: odd
Key: 10, Value: even
Key: 11, Value: odd
Key: 12, Value: even
Key: 13, Value: odd
Key: 14, Value: even
Key: 15, Value: odd
Key: 16, Value: even
Key: 17, Value: odd
Key: 18, Value: even
Key: 19, Value: odd
Key: 20, Value: even

In [ ]:
# Program that checks students grade

grade = int(input("80+: A, 70-79: B, 60-69: C, 50-59: D, < 50: F"))

if grade < 0 or grade > 100:
  print("Invalid grade!")
else:
  if grade >= 80:
    print("A")
  elif grade >= 70:
    print("B")
  elif grade >= 60:
    print("C")
  elif grade >= 50:
    print("D")
  else:
    print("F")

80+: A, 70-79: B, 60-69: C, 50-59: D, < 50: F73
B

In [ ]:
# PART C: FUNCTIONS AND MODULAR CODE

# A fuction that returns mean()

def calculate_mean(numbers):
  if not numbers:
    return 0
  total = sum(numbers)
  mean = total / len(numbers)
  return mean

In [ ]:
from ctypes import py_object
# Creating a module

%%writefile

UsageError: Line magic function `%%writefile` not found.

In [ ]:
# PART D: ERROR HANDLING

def divide numbers():
  try:
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))

  if num2 == 0:
    raise ZeroDivisionError("Cannot divide by zero.")
    result = num1 / num2
    print(f"The result of dividing {num1} by {num2} is: {result}")

SyntaxError: expected '(' (<ipython-input-33-56ae6a3dfa85>, line 3)